<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню</title>
</head>
<body>

<script type="text/javascript" th:src="@{/js/main.js}"></script>

<script th:inline="javascript">
    var tokenJs = /*[[${token}]]*/;
</script>


<button type="button" th:onclick="getToken(tokenJs)">Show Name</button>
<button type="button" th:onclick="sendGetRequest(tokenJs)">Send get request</button>


<form th:action="@{/user}" th:method="GET">
    <input type="submit" value="Личный кабинет">
</form>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Выйти">
</form>

</body>
</html>