<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>

<script type="text/javascript" th:src="@{/js/main.js}"></script>

<script th:inline="javascript">
    var tokenJs = /*[[${token}]]*/;
</script>

<button type="button" th:onclick="getToken(tokenJs)">Show Name</button>
<button type="button" th:onclick="sendGetRequest(tokenJs)">Send get request</button>


  Тут Будет главная страница!

  <br/>
  <a href="/menu">Меню</a>
  <br/>
  <a href="/user">Личный кабинет</a>
</body>
</html>